Repository obsidian-engine/vt-link: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, type-check

lefthook.yml:

pre-push:
  parallel: true
  fail_fast: true
  commands:
    biome:
      glob: "*.{js,ts,jsx,tsx,cts,mts,d.cts,d.mts,json,jsonc}"
      run: "npm exec biome -- check --no-errors-on-unmatched --files-ignore-unknown \"{all_files}\""
    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: "npm run type-check"

pre-commit:
  commands:
    biome-check:
      glob: "*.{js,ts,jsx,tsx,cts,mts,d.cts,d.mts,json,jsonc}"
      run: npx @biomejs/biome@1.9.4 check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    type-check:
      glob: "*.{js,ts,jsx,tsx}"
      run: npm run type-check

Optimize pre-push hooks: parallel execution, fail-fast, better biome integration
  lefthook.yml
Due: none

lint fix
  app/api/line/webhook/route.ts
  app/dashboard/auto-reply/new/page.tsx
  app/dashboard/auto-reply/page.tsx
  app/dashboard/campaigns/page.tsx
  app/dashboard/history/page.tsx
  app/dashboard/segments/page.tsx
  app/dashboard/templates/page.tsx
  src/app/api/cron/dispatcher/route.ts
  src/application/campaign/SendNowUsecase.ts
  src/types/dashboard.types.ts
  src/types/env.d.ts
Due: biome-check, type-check

lint fix
  app/dashboard/auto-reply/new/page.tsx
  app/dashboard/auto-reply/page.tsx
  app/dashboard/campaigns/page.tsx
  app/dashboard/history/page.tsx
  app/dashboard/segments/page.tsx
  app/dashboard/templates/page.tsx
  src/types/dashboard.types.ts
Due: biome-check, type-check

lint fix
  app/dashboard/auto-reply/new/page.tsx
  app/dashboard/auto-reply/page.tsx
  app/dashboard/campaigns/page.tsx
  app/dashboard/history/page.tsx
  app/dashboard/segments/page.tsx
  app/dashboard/templates/page.tsx
Due: biome-check, type-check

ignore追加
  .gitignore
Due: none

フロント開発準備
  .gitignore
  apps/frontend/.env.development
  apps/frontend/.env.example
  apps/frontend/.env.production
  apps/frontend/app/globals.css
  apps/frontend/app/layout.tsx
  apps/frontend/app/page.tsx
  apps/frontend/next.config.ts
  apps/frontend/package.json
  apps/frontend/tsconfig.json
  docs/backend.md
  docs/frontend.md
  docs/仕様書v1_0.md
  package.json
  packages/api-client/package.json
  packages/api-client/src/__generated__/types.ts
  packages/api-client/src/client.ts
  packages/api-client/src/hooks/campaigns.ts
  packages/api-client/src/hooks/fans.ts
  packages/api-client/src/index.ts
  packages/api-client/tsconfig.json
  packages/schema-zod/openapi.yaml
  packages/schema-zod/package.json
  packages/schema-zod/src/generate-openapi.ts
  packages/schema-zod/src/index.ts
  packages/schema-zod/src/schemas/campaign.ts
  packages/schema-zod/src/schemas/fan.ts
  packages/schema-zod/src/schemas/index.ts
  packages/schema-zod/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  test.html
Due: biome-check, type-check

feat: Next.js 15フロントエンドスケルトン実装
  apps/backend/.env
  apps/backend/go.mod
  apps/backend/internal/migrations/0001_init.sql
  apps/frontend/app/campaigns/new/page.tsx
  apps/frontend/app/campaigns/new/useCreateCampaignForm.ts
  apps/frontend/app/campaigns/page.tsx
  apps/frontend/app/layout.tsx
  apps/frontend/app/page.tsx
  apps/frontend/components/Navigation.tsx
  apps/frontend/lib/hooks/useCampaigns.ts
  apps/frontend/lib/repo.ts
  apps/frontend/lib/store.ts
Due: biome-check, type-check

feat: Next.js 15フロントエンドスケルトン実装
  infra/docker/compose.local.yml
Due: none

feat: バックエンド開発環境の初期セットアップ
  apps/backend/.env
  apps/backend/go.mod
  apps/backend/internal/migrations/0001_init.sql
  infra/docker/compose.local.yml
Due: none

infra
  apps/backend/go.sum
  docs/infra.md
Due: none

仕様書2.0
  apps/backend/go.sum
  docs/仕様書v2_0.md
Due: none

feat: v2_0仕様対応 - Prismモック・Spectral Lint・品質ゲート追加
  .github/workflows/frontend-checks.yml
  .pre-commit-config.yaml
  .spectral.yml
  README.md
  apps/backend/go.mod
  apps/backend/go.sum
  apps/backend/internal/application/campaign/interactor.go
  apps/backend/internal/application/campaign/usecase.go
  apps/backend/internal/domain/model/campaign.go
  apps/backend/internal/domain/repository/campaign_repo.go
  apps/backend/internal/domain/service/pusher.go
  apps/backend/internal/infrastructure/db/conn.go
  apps/backend/internal/infrastructure/db/pg/campaign_repo.go
  apps/backend/internal/infrastructure/external/line_pusher.go
  apps/backend/internal/shared/clock/clock.go
  apps/backend/internal/shared/errx/errors.go
  package.json
Due: biome-check

feat: バックエンドAPI実装とVercel Functions対応
  apps/backend/api/campaigns/[id]/send.go
  apps/backend/api/campaigns/index.go
  apps/backend/api/healthz.go
  apps/backend/api/openapi.yaml.go
  apps/backend/api/scheduler/run.go
  apps/backend/internal/infrastructure/di/container.go
  apps/backend/internal/infrastructure/http/response.go
  apps/backend/internal/migrations/0001_init.sql
  vercel.json
Due: biome-check

feat: Vercel Go Functions対応バックエンドスケルトン実装
  apps/backend/README.md
  apps/backend/api/campaigns/send.go
  apps/backend/go.mod
  apps/backend/go.sum
  apps/backend/vercel.json
Due: biome-check

feat: VT-Line UI完全実装 - test.html参考のモダンUI
  apps/frontend/app/audience/page.tsx
  apps/frontend/app/globals.css
  apps/frontend/app/history/page.tsx
  apps/frontend/app/layout.tsx
  apps/frontend/app/messages/page.tsx
  apps/frontend/app/page.tsx
  apps/frontend/app/settings/page.tsx
  apps/frontend/components/app-layout.tsx
  apps/frontend/components/sidebar.tsx
  apps/frontend/components/theme-provider.tsx
  apps/frontend/components/theme-toggle.tsx
  apps/frontend/components/ui/button.tsx
  apps/frontend/components/ui/card.tsx
  apps/frontend/components/ui/input.tsx
  apps/frontend/components/ui/label.tsx
  apps/frontend/components/ui/select.tsx
  apps/frontend/components/ui/switch.tsx
  apps/frontend/components/ui/textarea.tsx
  apps/frontend/lib/utils.ts
  apps/frontend/package.json
Due: biome-check, type-check

feat: インフラ構成ファイルとデプロイ設定の追加
  apps/backend/scripts/migrate.sh
  infra/cloudflare/README.md
  infra/cloudflare/scheduler.js
  infra/cloudflare/wrangler.toml
  infra/database/neon-setup.md
  infra/vercel/deployment-guide.md
  vercel.json
Due: biome-check, type-check

fix: TDDアプローチによるエラー修正
  apps/frontend/app/campaigns/new/page.tsx
  apps/frontend/app/campaigns/page.tsx
  apps/frontend/components/theme-provider.tsx
  apps/frontend/lib/api-client.ts
  apps/frontend/lib/hooks/useCampaigns.ts
  apps/frontend/lib/repo.ts
  apps/frontend/next.config.ts
Due: biome-check, type-check

fix: GitHub Actions setup-nodeのcorepack設定を修正
  .github/workflows/frontend-checks.yml
Due: none

fix: pnpm-lock.yamlを更新
  pnpm-lock.yaml
Due: none

fix: Spectral設定の古いrulesetパスを修正
  .spectral.yml
Due: none

feat: 運用・セキュリティ・監視機能の包括的強化
  apps/backend/.env.example
  apps/backend/api/status/detailed.go
  apps/frontend/.env.example
  infra/environment/setup-guide.md
  infra/monitoring/logging-config.md
  infra/security/security-hardening.md
  scripts/deploy.sh
  scripts/dev.sh
  vercel.json
Due: biome-check

fix: Spectralルールセットを組み込み設定に変更
  .spectral.yml
Due: none

fix: Spectral設定を標準ルールセットのみに簡略化
  .spectral.yml
Due: none

fix: Spectralエラーを許容してCI継続
  .github/workflows/frontend-checks.yml
Due: none

simplify: CI/CDパイプラインを最低限に簡素化
  .github/workflows/backend-ci.yml
Due: none

feat: バックエンド開発用のTDD環境をセットアップ
  .github/workflows/backend-ci.yml
  apps/backend/.mockery.yaml
  apps/backend/Makefile
  apps/backend/README.md
  apps/backend/go.mod
  apps/backend/go.sum
  apps/backend/internal/application/campaign/mocks/MockUsecase.go
  apps/backend/internal/domain/repository/mocks/MockCampaignRepository.go
  apps/backend/internal/domain/service/mocks/MockPusher.go
  apps/backend/scripts/test.sh
  apps/backend/tests/e2e/campaign_api_test.go
  apps/backend/tests/e2e/helper.go
  apps/backend/tests/integration/campaign_repository_test.go
  apps/backend/tests/integration/helper.go
  apps/backend/tests/unit/campaign_interactor_test.go
  apps/backend/tests/unit/campaign_model_test.go
Due: none

refactor: コードレビューに基づくTDD環境の品質改善
  .github/workflows/backend-ci.yml
  apps/backend/.golangci.yml
  apps/backend/.mockery.yaml
  apps/backend/.trivyignore
  apps/backend/Makefile
  apps/backend/README.md
  apps/backend/internal/application/campaign/mocks/MockUsecase.go
  apps/backend/internal/domain/repository/mocks/MockCampaignRepository.go
  apps/backend/internal/domain/service/mocks/MockPusher.go
  apps/backend/tests/integration/helper.go
  apps/backend/tests/unit/campaign_model_test.go
Due: none

fix: 型チェックをフロントエンドのみに限定
  .github/workflows/frontend-checks.yml
Due: none

fix: ESLint設定ファイルを追加
  apps/frontend/.eslintrc.json
Due: biome-check

feat: test.htmlのデザインに合わせてVT-Line UIを更新
  apps/frontend/app/autoreply/page.tsx
  apps/frontend/app/richmenu/page.tsx
  apps/frontend/components/sidebar.tsx
Due: biome-check, type-check

feat(frontend): ダッシュボード見た目をモックに合わせて調整し、更新ボタンで行追加を実装
  apps/frontend/app/page.tsx
Due: biome-check, type-check

chore(docs): モックHTMLの参考スクリーンショットを追加
  docs/screenshots/dashboard-mock.png
Due: none

chore(docs): ローカル実行中のダッシュボードスクリーンショットを追加
  docs/screenshots/dashboard-current.png
Due: none

style(frontend): glass/shadowユーティリティ追加とダッシュボードカード/テーブルをモック寄せ
  apps/frontend/app/globals.css
  apps/frontend/app/page.tsx
Due: biome-check, type-check

chore(docs): ダッシュボード修正後のスクリーンショットを追加
  docs/screenshots/dashboard-after-fix.png
Due: none

fix(frontend): SSR/CSR差異回避のため数値・割合のロケール固定(ja-JP)で整形
  apps/frontend/app/page.tsx
Due: biome-check, type-check
